div#correct.hidden {
    visibility: hidden;
    
}

.green {
    color: green;
}

.orange {
    color: orange;
}

#main-content-container, #correct {
    text-align: center;
}

li {
    display: inline-block;
    font-size: 1.4rem;
}

body {
    text-align: center;
    
}